.event-card {
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  padding: 0;
  max-width: 350px;
  display: flex;
  flex-direction: column;
}
.event-image1 {
  max-width: 300px;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.event-content {
  margin-top: 20px;
  padding: 10px;
}

.event-header {
  display: flex;
  align-items: space-between;
  gap: 50px;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: gray;
}

.month {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.date {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  flex-grow: 1;
}

.event-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: gray;
}

.event-icons .edit-icon {
  margin-right: 10px;
  cursor: pointer;
}

.event-icons .delete-icon {
  cursor: pointer;
  color: gray;
}

.participate-btn {
  padding: 8px 16px;
  background-color: #c7029cfb;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.participate-btn:hover {
  background-color: #2a25b5;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.capacity-info-container {
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}

.capacity-info.full {
  color: red;
  font-weight: bold;
}

.full-badge {
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 5px;
  margin-left: 5px;
}
