.logout-button {
    background-color: #ff007f;
    color: white;
    border: none;
    
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    width: 110px;
    height: 41px;
    transition: all 0.3s ease;
    box-shadow: 0 0 6px rgba(0, 123, 255, 0.6); /* Ce bleu lumineux */
  }
  
  .logout-button:hover {
    background-color: #e60073;
  }
  
  