.logout-buttonp {
    background-color: white;
    color: #ff007f;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    height: 41px;
    transition: all 0.3s ease;
    
  }
  

  